<div class="container">
    <form action="">
        <div class="fence_detail">
            <span class="head-title">Заказать забор</span>
            <ul>
                <li>
                    <div>
                    <label for="fence">Длина забора</label><br>
                    <input type="text" placeholder="0" id="fence"><span>метров</span>
                    </div>
                </li>
                <li>
                    <label for="heigth_fence">Высота забора</label><br>
                    <input type="text" placeholder="0" id="heigth_fence"><span>метров</span>
                </li>

                <li>
                    <label for="material">Материал забора</label><br>
                    <select name="material" size="1">
                        <option selected>Выберите материал</option>
                        <option>профнастил 400₽ за м² </option>
                        <option>модули 500₽ за м²</option>
                        <option>бетон 700₽ за м²</option>
                        <option>сетка 200₽ за м²</option>
                    </select>
                </li>
                <li>
                    <input type="checkbox" name="need_install"> Нужен монтаж
                </li>

                <div class="nextbtn">
                    <button [routerLink]="['/step2']">Далее</button>
                </div>
            </ul>
        </div>
    </form>
</div>