.head-title {
  // padding: 39px 0 30px 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #323232;
}

select {
  width: 319px;
  height: 50px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #323232;
  margin-bottom: 10px;
}


/* Set a style for all buttons */
button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  background-color: #4CAF50;
}

button:hover {
  opacity: 1;
}


input[type=text] {
  width: 230px;
  height: 50px;
  background: linear-gradient(180deg, #F8F8F8 0%, rgba(243, 243, 243, 0) 100%, #F2F2F2 100%);
  border: 1px solid #D7D7D7;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.container {
  background-color: #FFF;
  // width: 490px;
  // height: 645px;
  padding: 40px 50px;

  .fence_detail {
    ul {
      li {
        list-style-type: none;
        margin: 30px 0px;
        width: 100%;
      }
    }
  }
}

.nextbtn:after,
.nextbtn:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
}

.nextbtn:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #265d94;
  border-width: 16px;
  margin-top: -16px;
}

.nextbtn:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #153a65;
  border-width: 16px;
  margin-top: -14px;
}

.nextbtn:hover,
.nextbtn:focus,
.nextbtn:active,
.nextbtn.active,
.open .dropdown-toggle.nextbtn {
  color: #fff;
  outline: none;
  background: #2e6eae;
  border-bottom: 2px solid #1b4a80;
}

.nextbtn:hover:after,
.nextbtn:focus:after,
.nextbtn:active:after,
.nextbtn.active:after {
  border-left-color: #2e6eae;
}

.nextbtn:active,
.nextbtn.active,
.open .dropdown-toggle.nextbtn {
  background: #265d94;
  color: #fff;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.nextbtn:active:after,
.nextbtn.active:after,
.open .dropdown-toggle.nextbtn:after {
  border-left-color: #265d94;
}
