* {
  box-sizing: border-box
}

.block_input {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
/* Set a style for all buttons */
button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  background-color: #4CAF50;
}

button:hover {
  opacity: 1;
}

/* Float cancel and signup buttons and add an equal width */
.nextbtn {
  width: 150px;
  height: 50px;
}

li {
    list-style-type: none;
}
.input {
  background: linear-gradient(180deg, #F8F8F8 0%, rgba(243, 243, 243, 0) 100%, #F2F2F2 100%);
  border: 1px solid #D7D7D7;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.container {
  width: 768px;
  height: 850px;
  padding: 16px;
  position: fixed;
  top:0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  background-image: url(../assets/image/bg.svg);
}

.fence_detail {
  width: 490px;
  height: 645px;
  background: #ffffff;
}

/* Clear floats 
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
*/