/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background: url(./assets/image/bg.svg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
